body {
    margin: 0px;
    padding: 0%;
    font-family: "Lucida Console", Courier, monospace;
}

#main {
    background-color: burlywood;
    background-image: url(http://i.stack.imgur.com/spmUM.gif);
    height: 100vh;
    object-fit: contain;
}

#timer {
    color: whitesmoke;
    font-size: 10vw;
    font-weight: bold;
    margin-top: 5vw;
}

#question {
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    margin-top: 2vw;
}

#puzzleword {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puzzle-next {
    border: 1px solid;
    box-shadow: 5px 5px black;
    border-radius: 1vw;
    margin-top: 2vw;
    width: auto;
    height: 6.5vw;
    border-style: solid;
    float: left;
    border-color: blue;
    background-color: white;
    text-align: center;
    font-size: 4.5vw;
    color: blue;
    cursor: pointer;
    outline: none;
}

.puzzle-next:disabled {
    background-color: grey;
}

.puzzle-char {
    border: 1px solid;
    box-shadow: 5px 5px black;
    border-radius: .5vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    width: 6.5vw;
    height: 6.5vw;
    border-style: solid;
    float: left;
    border-color: blue;
    background-color: white;
    text-align: center;
    font-size: 4.5vw;
    color: blue;
    cursor: pointer;
    outline: none;
}

#puzzlesolution {
    border-width: 0px;
    border-radius: 2vh;
    margin-top: 3vw;
    background-color: blue;
    width: 100vh;
    /* height: 6.5vw; */
    border-style: solid;
    float: left;
    border-color: goldenrod;
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1vw;
    resize: none;
}

#result {
    margin-top: 10px;
    font-size: medium;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -100px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}